<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joy.webview">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:hardwareAccelerated="true"
        android:supportsRtl="true">

        <activity
            android:name=".ui.BaseWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/base_theme.web" />
        <activity
            android:name=".ui.BaseWebX5Activity"
            android:screenOrientation="portrait"
            android:theme="@style/base_theme.web" />
    </application>

</manifest>
